{% extends 'myapp/base.html' %} {% block content %}
<style>
    .card{
        backdrop-filter: blur(5px); /* Add this line to make the card transparent and blurred */
        background-color: rgba(255, 255, 255, 0.5); /* Add this line to make the card background semi-transparent */
        position: absolute;
        width: 50%;
        bottom: 150px;
    }
</style>
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
            <div class="card rounded-15 ">
                <div class="card-header">
                    <div class="card-title h3 mb-0 text-center">Find Bus</div>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <form action="{% url 'findbus' %}" method="post" id="find-form">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="source" class="control-labell">From</label>
                                <input name='source' class="form-control rounded-5" type="text" id="source" value="{% if data.source %}{{data.source}}{% endif %}" required>
                            </div>
                            <div class="mb-3">
                                <label for="destination" class="control-labell">Destination</label>
                                <input name='destination' id="destination" class="form-control rounded-5" type="text" value="{% if data.destination %}{{data.destination}}{% endif %}" required>
                            </div>
                            <div class="mb-3">
                                <label for="date" class="control-labell">Date</label>
                                <input name='date' id="date" class="form-control rounded-5" type="date" value="{% if data.date %}{{data.date}}{% endif %}" required>

                            </div>
                            {% if error %}
                            <div class="alert alert-danger">
                                {{error}}
                            </div>
                            {% endif %}

                        </form>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-sm rounded-0 btn-primary w-100" form="find-form">Find</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}